<header class="excelsior-header">
    <div class="container excelsior-header__content">
        <div class="col-3 excelsior-header__brand">
            <img src="/img/brand_accentio.png" alt="brand_accentio" width="231.58" height="58.97">
        </div>
        <div class="col-6 excelsior-header__menu">
            <nav>
                <ul>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Planes</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-3 excelsior-header__hero-section">
            <button class="excelsior-hero-button-xl">
                Solicitar una demostración
            </button>
        </div>
    </div>
</header>