@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Space+Grotesk:wght@400;600;700&display=swap);
@charset "UTF-8";
/*!
 * Fluidable Grid System 1.4.1
 *
 * Creator: Andri Sigurðsson
 * Site: http://fluidable.com
 * Date: 14.11.2017
 * Converted to SASS by Rory Pickering - rorypickering.co.uk
 * Date converted: 8.11.2016
 */
[class*=col-fixed-] {
  float: left;
  width: 100%;
}

.container {
  padding-right: 18px;
  padding-left: 18px;
}

.col-group {
  margin-right: -18px;
  margin-left: -18px;
}
.col-group:after {
  display: table;
  clear: both;
  content: " ";
}

.col-group .col-group {
  padding: 0;
}

.col-group [class*=col-] {
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-group [class*=col-]:not(.col-group):not(.col-content) {
  padding-right: 18px;
  padding-left: 18px;
}

.col-group [class*=push-],
.col-group [class*=pull-] {
  position: relative;
}

.col-mb-1 {
  width: 8.3333333333%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-2 {
  width: 16.6666666667%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-3 {
  width: 25%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-4 {
  width: 33.3333333333%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-5 {
  width: 41.6666666667%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-6 {
  width: 50%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-7 {
  width: 58.3333333333%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-8 {
  width: 66.6666666667%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-9 {
  width: 75%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-10 {
  width: 83.3333333333%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-11 {
  width: 91.6666666667%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-12 {
  width: 100%;
  float: left;
  padding-right: 18px;
  padding-left: 18px;
}

.col-mb-offset-0 {
  margin-left: 0%;
}

.col-mb-pull-0 {
  right: 0%;
}

.col-mb-push-0 {
  left: 0%;
}

.col-mb-offset-1 {
  margin-left: 8.3333333333%;
}

.col-mb-pull-1 {
  right: 8.3333333333%;
}

.col-mb-push-1 {
  left: 8.3333333333%;
}

.col-mb-offset-2 {
  margin-left: 16.6666666667%;
}

.col-mb-pull-2 {
  right: 16.6666666667%;
}

.col-mb-push-2 {
  left: 16.6666666667%;
}

.col-mb-offset-3 {
  margin-left: 25%;
}

.col-mb-pull-3 {
  right: 25%;
}

.col-mb-push-3 {
  left: 25%;
}

.col-mb-offset-4 {
  margin-left: 33.3333333333%;
}

.col-mb-pull-4 {
  right: 33.3333333333%;
}

.col-mb-push-4 {
  left: 33.3333333333%;
}

.col-mb-offset-5 {
  margin-left: 41.6666666667%;
}

.col-mb-pull-5 {
  right: 41.6666666667%;
}

.col-mb-push-5 {
  left: 41.6666666667%;
}

.col-mb-offset-6 {
  margin-left: 50%;
}

.col-mb-pull-6 {
  right: 50%;
}

.col-mb-push-6 {
  left: 50%;
}

.col-mb-offset-7 {
  margin-left: 58.3333333333%;
}

.col-mb-pull-7 {
  right: 58.3333333333%;
}

.col-mb-push-7 {
  left: 58.3333333333%;
}

.col-mb-offset-8 {
  margin-left: 66.6666666667%;
}

.col-mb-pull-8 {
  right: 66.6666666667%;
}

.col-mb-push-8 {
  left: 66.6666666667%;
}

.col-mb-offset-9 {
  margin-left: 75%;
}

.col-mb-pull-9 {
  right: 75%;
}

.col-mb-push-9 {
  left: 75%;
}

.col-mb-offset-10 {
  margin-left: 83.3333333333%;
}

.col-mb-pull-10 {
  right: 83.3333333333%;
}

.col-mb-push-10 {
  left: 83.3333333333%;
}

.col-mb-offset-11 {
  margin-left: 91.6666666667%;
}

.col-mb-pull-11 {
  right: 91.6666666667%;
}

.col-mb-push-11 {
  left: 91.6666666667%;
}

.col-mb-offset-12 {
  margin-left: 100%;
}

.col-mb-pull-12 {
  right: 100%;
}

.col-mb-push-12 {
  left: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 696px;
    margin: 0 auto;
  }

  .col-1 {
    width: 8.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-2 {
    width: 16.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-3 {
    width: 25%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-4 {
    width: 33.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-5 {
    width: 41.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-6 {
    width: 50%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-7 {
    width: 58.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-8 {
    width: 66.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-9 {
    width: 75%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-10 {
    width: 83.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-11 {
    width: 91.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-12 {
    width: 100%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-offset-0 {
    margin-left: 0%;
  }

  .col-pull-0 {
    right: 0%;
  }

  .col-push-0 {
    left: 0%;
  }

  .col-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-pull-1 {
    right: 8.3333333333%;
  }

  .col-push-1 {
    left: 8.3333333333%;
  }

  .col-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-pull-2 {
    right: 16.6666666667%;
  }

  .col-push-2 {
    left: 16.6666666667%;
  }

  .col-offset-3 {
    margin-left: 25%;
  }

  .col-pull-3 {
    right: 25%;
  }

  .col-push-3 {
    left: 25%;
  }

  .col-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-pull-4 {
    right: 33.3333333333%;
  }

  .col-push-4 {
    left: 33.3333333333%;
  }

  .col-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-pull-5 {
    right: 41.6666666667%;
  }

  .col-push-5 {
    left: 41.6666666667%;
  }

  .col-offset-6 {
    margin-left: 50%;
  }

  .col-pull-6 {
    right: 50%;
  }

  .col-push-6 {
    left: 50%;
  }

  .col-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-pull-7 {
    right: 58.3333333333%;
  }

  .col-push-7 {
    left: 58.3333333333%;
  }

  .col-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-pull-8 {
    right: 66.6666666667%;
  }

  .col-push-8 {
    left: 66.6666666667%;
  }

  .col-offset-9 {
    margin-left: 75%;
  }

  .col-pull-9 {
    right: 75%;
  }

  .col-push-9 {
    left: 75%;
  }

  .col-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-pull-10 {
    right: 83.3333333333%;
  }

  .col-push-10 {
    left: 83.3333333333%;
  }

  .col-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-pull-11 {
    right: 91.6666666667%;
  }

  .col-push-11 {
    left: 91.6666666667%;
  }

  .col-offset-12 {
    margin-left: 100%;
  }

  .col-pull-12 {
    right: 100%;
  }

  .col-push-12 {
    left: 100%;
  }

  .col-group {
    margin-right: -18px;
    margin-left: -18px;
    padding: 0;
  }
  .col-group:after {
    display: table;
    clear: both;
    content: " ";
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 920px;
    margin: 0 auto;
  }

  .col-dt-1 {
    width: 8.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-2 {
    width: 16.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-3 {
    width: 25%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-4 {
    width: 33.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-5 {
    width: 41.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-6 {
    width: 50%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-7 {
    width: 58.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-8 {
    width: 66.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-9 {
    width: 75%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-10 {
    width: 83.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-11 {
    width: 91.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-12 {
    width: 100%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-dt-offset-0 {
    margin-left: 0%;
  }

  .col-dt-pull-0 {
    right: 0%;
  }

  .col-dt-push-0 {
    left: 0%;
  }

  .col-dt-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-dt-pull-1 {
    right: 8.3333333333%;
  }

  .col-dt-push-1 {
    left: 8.3333333333%;
  }

  .col-dt-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-dt-pull-2 {
    right: 16.6666666667%;
  }

  .col-dt-push-2 {
    left: 16.6666666667%;
  }

  .col-dt-offset-3 {
    margin-left: 25%;
  }

  .col-dt-pull-3 {
    right: 25%;
  }

  .col-dt-push-3 {
    left: 25%;
  }

  .col-dt-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-dt-pull-4 {
    right: 33.3333333333%;
  }

  .col-dt-push-4 {
    left: 33.3333333333%;
  }

  .col-dt-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-dt-pull-5 {
    right: 41.6666666667%;
  }

  .col-dt-push-5 {
    left: 41.6666666667%;
  }

  .col-dt-offset-6 {
    margin-left: 50%;
  }

  .col-dt-pull-6 {
    right: 50%;
  }

  .col-dt-push-6 {
    left: 50%;
  }

  .col-dt-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-dt-pull-7 {
    right: 58.3333333333%;
  }

  .col-dt-push-7 {
    left: 58.3333333333%;
  }

  .col-dt-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-dt-pull-8 {
    right: 66.6666666667%;
  }

  .col-dt-push-8 {
    left: 66.6666666667%;
  }

  .col-dt-offset-9 {
    margin-left: 75%;
  }

  .col-dt-pull-9 {
    right: 75%;
  }

  .col-dt-push-9 {
    left: 75%;
  }

  .col-dt-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-dt-pull-10 {
    right: 83.3333333333%;
  }

  .col-dt-push-10 {
    left: 83.3333333333%;
  }

  .col-dt-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-dt-pull-11 {
    right: 91.6666666667%;
  }

  .col-dt-push-11 {
    left: 91.6666666667%;
  }

  .col-dt-offset-12 {
    margin-left: 100%;
  }

  .col-dt-pull-12 {
    right: 100%;
  }

  .col-dt-push-12 {
    left: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1128px;
    margin: 0 auto;
  }

  .col-ld-1 {
    width: 8.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-2 {
    width: 16.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-3 {
    width: 25%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-4 {
    width: 33.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-5 {
    width: 41.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-6 {
    width: 50%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-7 {
    width: 58.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-8 {
    width: 66.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-9 {
    width: 75%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-10 {
    width: 83.3333333333%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-11 {
    width: 91.6666666667%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-12 {
    width: 100%;
    float: left;
    padding-right: 18px;
    padding-left: 18px;
  }

  .col-ld-offset-0 {
    margin-left: 0%;
  }

  .col-ld-pull-0 {
    right: 0%;
  }

  .col-ld-push-0 {
    left: 0%;
  }

  .col-ld-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-ld-pull-1 {
    right: 8.3333333333%;
  }

  .col-ld-push-1 {
    left: 8.3333333333%;
  }

  .col-ld-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-ld-pull-2 {
    right: 16.6666666667%;
  }

  .col-ld-push-2 {
    left: 16.6666666667%;
  }

  .col-ld-offset-3 {
    margin-left: 25%;
  }

  .col-ld-pull-3 {
    right: 25%;
  }

  .col-ld-push-3 {
    left: 25%;
  }

  .col-ld-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-ld-pull-4 {
    right: 33.3333333333%;
  }

  .col-ld-push-4 {
    left: 33.3333333333%;
  }

  .col-ld-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-ld-pull-5 {
    right: 41.6666666667%;
  }

  .col-ld-push-5 {
    left: 41.6666666667%;
  }

  .col-ld-offset-6 {
    margin-left: 50%;
  }

  .col-ld-pull-6 {
    right: 50%;
  }

  .col-ld-push-6 {
    left: 50%;
  }

  .col-ld-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-ld-pull-7 {
    right: 58.3333333333%;
  }

  .col-ld-push-7 {
    left: 58.3333333333%;
  }

  .col-ld-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-ld-pull-8 {
    right: 66.6666666667%;
  }

  .col-ld-push-8 {
    left: 66.6666666667%;
  }

  .col-ld-offset-9 {
    margin-left: 75%;
  }

  .col-ld-pull-9 {
    right: 75%;
  }

  .col-ld-push-9 {
    left: 75%;
  }

  .col-ld-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-ld-pull-10 {
    right: 83.3333333333%;
  }

  .col-ld-push-10 {
    left: 83.3333333333%;
  }

  .col-ld-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-ld-pull-11 {
    right: 91.6666666667%;
  }

  .col-ld-push-11 {
    left: 91.6666666667%;
  }

  .col-ld-offset-12 {
    margin-left: 100%;
  }

  .col-ld-pull-12 {
    right: 100%;
  }

  .col-ld-push-12 {
    left: 100%;
  }
}
.col-fixed-hd,
.col-fixed-landscape,
.col-fixed-square,
.col-fixed-portrait {
  position: relative;
}

.col-fixed-hd:before,
.col-fixed-landscape:before,
.col-fixed-square:before,
.col-fixed-portrait:before {
  content: "";
  display: block;
}

.col-fixed-hd .col-content,
.col-fixed-landscape .col-content,
.col-fixed-square .col-content,
.col-fixed-portrait .col-content {
  position: absolute;
  top: 0;
  right: 18px;
  bottom: 0;
  left: 18px;
  padding: 0;
}

.col-fixed-hd:before {
  margin-top: 56.25%;
}

.col-fixed-landscape:before {
  margin-top: 75%;
}

.col-fixed-square:before {
  margin-top: 100%;
}

.col-fixed-portrait:before {
  margin-top: 133.33333333%;
}

.excelsior-wrapper {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.excelsior-cut-wave-blue {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 13vw;
  background-image: url("/img/cut-wave-blue.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  content: "";
  margin-top: -1px;
  z-index: 2;
}
.excelsior-cut-wave-blue.top {
  top: 0px;
  transform: rotate(180deg);
}
.excelsior-divisor-line {
  height: 2px;
  background-color: #46C4E2;
  min-width: 40px;
}
.excelsior-divisor-line.line-sm {
  width: 115px;
}
.excelsior-divisor-line.line-md {
  width: 200px;
}
.excelsior-divisor-line.secondary-color {
  background-color: #F16750 !important;
}
.excelsior-header {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 130px;
}
.excelsior-header__content {
  display: flex;
  align-items: center;
  height: inherit;
}
.excelsior-header__brand {
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
}
.excelsior-header__menu {
  position: relative;
  font-weight: 600;
  height: inherit;
}
.excelsior-header__menu nav {
  height: inherit;
  width: 100%;
  margin: auto;
}
.excelsior-header__menu nav ul {
  display: inline-flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
}
.excelsior-header__menu nav ul li {
  height: inherit;
  display: flex;
  align-items: center;
  margin: 0px 25px;
}
.excelsior-header__menu nav ul a {
  height: 45%;
  display: flex;
  align-items: center;
  letter-spacing: 0.14em;
  font-kerning: normal;
  text-align: center;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  border-bottom: 2px solid transparent;
}
.excelsior-header__menu nav ul a:hover {
  border-bottom: 2px solid white;
}
.excelsior-header__hero-section {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
}
.excelsior-hero-button-xl, .excelsior-hero-button-md, .excelsior-hero-button-sm {
  outline: none;
  position: relative;
  display: block;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 7px;
  font-weight: 700;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  background-color: #46C4E2;
  cursor: pointer;
}
.excelsior-hero-button-xl.secondary-color, .excelsior-hero-button-md.secondary-color, .excelsior-hero-button-sm.secondary-color {
  background-color: #F16750;
}
.excelsior-hero-button-xl.secondary-color:hover, .excelsior-hero-button-md.secondary-color:hover, .excelsior-hero-button-sm.secondary-color:hover {
  background-color: #f5907f;
  border: 1px solid #fbd6d0;
}
.excelsior-hero-button-xl.secondary-color:active, .excelsior-hero-button-md.secondary-color:active, .excelsior-hero-button-sm.secondary-color:active {
  background-color: #ed3e21;
  border: 1px solid #F16750;
}
.excelsior-hero-button-xl:hover, .excelsior-hero-button-md:hover, .excelsior-hero-button-sm:hover {
  background-color: #72d2e9;
  border: 1px solid #bdeaf5;
}
.excelsior-hero-button-xl:active, .excelsior-hero-button-md:active, .excelsior-hero-button-sm:active {
  background-color: #21b1d4;
  border: 1px solid #46C4E2;
}
.excelsior-hero-button-xl {
  padding: 14px 20px;
  font-size: 1em;
}
.excelsior-hero-button-md {
  width: auto;
  padding: 10px 40px;
  font-size: 1em;
}
.excelsior-hero-image {
  width: 100%;
  box-sizing: border-box;
  height: 360px;
  position: relative;
  overflow: hidden;
}
.excelsior-hero-image img {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.excelsior-hero-image.img-xl {
  height: 450px;
}
.excelsior-hero__section {
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh + 88px);
  max-height: 830px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.excelsior-hero__section.fixed-size {
  height: 100vh;
}
.excelsior-hero__section.fixed-size-xl {
  height: 400px;
}
.excelsior-hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: visible;
}
.excelsior-hero__background .hero-image-cover {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.excelsior-hero__gradientEdge {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  height: 60%;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}
.excelsior-hero__headline {
  position: relative;
  margin-top: 130px;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(95% - 180px);
}
.excelsior-hero__headline h1 {
  width: 51%;
  font-size: calc(2.617 * 1em);
  line-height: 1.4em;
  margin-top: 6%;
  font-family: "Space Grotesk", sans-serif;
}
.excelsior-menu-horizontal-xl {
  position: relative;
  width: 100%;
  height: 100px;
}
.excelsior-menu-horizontal-xl nav {
  height: inherit;
  margin: auto;
}
.excelsior-menu-horizontal-xl nav ul {
  display: inline-flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
}
.excelsior-menu-horizontal-xl nav ul li {
  height: inherit;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 30%;
  justify-content: center;
  min-width: 190px;
}
.excelsior-menu-horizontal-xl nav ul a {
  height: 60%;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.14em;
  font-kerning: normal;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  font-weight: 700;
}
.excelsior-menu-horizontal-xl nav ul a:hover {
  border-bottom: 2px solid white;
}
.excelsior-card {
  background-color: #1f1939;
  min-height: 40px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #1f1939;
  box-sizing: border-box;
}
.excelsior-card.padding-xl {
  padding: 30px;
}
.excelsior-card.padding-md {
  padding: 24px;
}
.excelsior-card.padding-sm {
  padding: 18px;
}
.excelsior-card.padding-xs {
  padding: 15px;
}
.excelsior-card.nobody {
  background-color: transparent;
  border: none;
}
.excelsior-card .title {
  font-size: 1em;
  line-height: 1.4em;
  margin-top: 0.3em;
}
.excelsior-card.feature-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.excelsior-card.feature-card .feature-card__main-img {
  height: 185px;
}
.excelsior-flexible-horizontal-list {
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.excelsior-flexible-horizontal-list li {
  display: block;
  width: 100%;
  min-width: 260px;
  margin: 10px;
  box-sizing: border-box;
  flex: 1;
}

h1 {
  font-size: calc(2.617 * 1em);
  line-height: 1.4em;
}

h2 {
  font-size: calc(1.618 * 1em);
  line-height: 1.4em;
}

h3 {
  font-size: 1em;
  line-height: 1.4em;
}

h4 {
  font-size: calc(1em / 1.618);
  line-height: 1.4em;
}

h1, h2, h3, h4 {
  color: #fff;
}

h1, h2 {
  font-family: "Space Grotesk", sans-serif;
}

p {
  line-height: 2em;
}

.text-xxl {
  font-size: calc(4.23 * 1em);
}
.text-xl {
  font-size: calc(2.617 * 1em);
}
.text-lg {
  font-size: calc(1.618 * 1em);
}
.text-md {
  font-size: 1em;
}
.text-sm {
  font-size: calc(1em / 1.618);
}
.text-xs {
  font-size: calc(1em / 2.617);
}
.text-xxs {
  font-size: calc(1em / 4.23);
}
.text-strong, .text-700, .text-bold {
  font-weight: 700;
}
.text-normal, .text-500 {
  font-weight: 500;
}
.text-light, .text-400 {
  font-weight: 400;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.font-primary {
  font-family: "Lato", sans-serif !important;
}
.font-secondary {
  font-family: "Space Grotesk", sans-serif !important;
}

.margin-auto {
  margin: auto;
}
.margin-none {
  margin: 0px !important;
}
.margin-xxs {
  margin: 5px !important;
}
.margin-xs {
  margin: 10px !important;
}
.margin-sm {
  margin: 20px !important;
}
.margin-md {
  margin: 40px !important;
}
.margin-xl {
  margin: 90px !important;
}
.margin-top-none {
  margin-top: 0px !important;
}
.margin-top-xxs {
  margin-top: 5px !important;
}
.margin-top-xs {
  margin-top: 10px !important;
}
.margin-top-sm {
  margin-top: 20px !important;
}
.margin-top-md {
  margin-top: 40px !important;
}
.margin-top-xl {
  margin-top: 90px !important;
}
.margin-left-none {
  margin-left: 0px !important;
}
.margin-left-xxs {
  margin-left: 5px !important;
}
.margin-left-xs {
  margin-left: 10px !important;
}
.margin-left-md {
  margin-left: 40px !important;
}
.margin-left-xl {
  margin-left: 90px !important;
}
.margin-right-none {
  margin-right: 0px !important;
}
.margin-right-xxs {
  margin-right: 5px !important;
}
.margin-right-xs {
  margin-right: 10px !important;
}
.margin-right-md {
  margin-right: 40px !important;
}
.margin-right-xl {
  margin-right: 90px !important;
}
.margin-bottom-none {
  margin-bottom: 0px !important;
}
.margin-bottom-xxs {
  margin-bottom: 5px !important;
}
.margin-bottom-xs {
  margin-bottom: 10px !important;
}
.margin-bottom-sm {
  margin-bottom: 20px !important;
}
.margin-bottom-md {
  margin-bottom: 40px !important;
}
.margin-bottom-xl {
  margin-bottom: 90px !important;
}

.flex-row, .flex-row-end, .flex-row-start, .flex-row-center, .flex-row-center-end, .flex-row-center-start {
  display: flex;
  flex-direction: row;
}
.flex-row-center, .flex-row-center-end, .flex-row-center-start {
  align-items: center;
}
.flex-row-end {
  justify-content: flex-end;
}
.flex-row-start {
  justify-content: flex-start;
}
.flex-row-center {
  justify-content: center;
}
.flex-row-center-end {
  justify-content: flex-end;
}
.flex-row-center-start {
  justify-content: flex-start;
}
.flex-col, .flex-col-end, .flex-col-start, .flex-col-center, .flex-col-center-end, .flex-col-center-start {
  display: flex;
  flex-direction: column;
}
.flex-col-center, .flex-col-center-end, .flex-col-center-start {
  align-items: center;
}
.flex-col-end {
  justify-content: flex-end;
}
.flex-col-start {
  justify-content: flex-start;
}
.flex-col-center {
  justify-content: center;
}
.flex-col-center-end {
  justify-content: flex-end;
}
.flex-col-center-start {
  justify-content: flex-start;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: #161229;
  letter-spacing: 0.01em;
}

a {
  color: #fff;
}

.primary-color {
  background-color: #46C4E2;
}

.secondary-color {
  background-color: #F16750;
}

.hero-image {
  width: 701px;
  position: absolute;
  right: 0px;
  transform: translate(0px, -84px);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.height-inherit {
  height: inherit;
  position: relative;
  display: flex;
  align-items: center;
}

.arrow-down {
  background-image: url("/img/arrow-bottom.png");
  background-repeat: no-repeat;
  background-position: 0px 23px;
  width: 34px;
  height: 60px;
  position: absolute;
  bottom: 12%;
  align-self: flex-start;
}

#card-codname {
  display: flex;
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#card-codname .img-header {
  width: 185px;
  text-align: center;
  align-self: center;
}
#card-codname .action-btn {
  margin-top: 10px;
  margin-bottom: 12px;
  min-width: 150px;
  align-self: center;
}
#card-codname h3 {
  font-weight: 500;
  margin: 5px;
}
#card-codname h1 {
  margin: 10px;
}
#card-codname .excelsior-divisor-line {
  width: 115px;
  align-self: center;
  margin-bottom: 11px;
  margin-top: 7px;
}

.prod1, .prod2 {
  margin-top: 45px;
}
.prod1-section2, .prod2-section2 {
  margin-top: 50px;
}
.prod1-section3, .prod2-section3 {
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 356px;
  background-image: url("/img/Fondo_degradado_fuerte.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.prod1-section3 .advanced-moon-colony, .prod2-section3 .advanced-moon-colony {
  left: 0px;
  bottom: 0px;
  width: 100%;
  position: absolute;
}

.codname-info .excelsior-divisor-line {
  max-width: 100px;
}

.advanced-mars-colony {
  background-image: url("/img/mars_colonized_hd.svg");
  width: 100%;
  max-width: 1500px;
  height: 360px;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 80px;
}
