.excelsior {
    &-flexible-horizontal-list{
        position: relative;
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        li {
            display: block;
            width: 100%;
            min-width: 260px;
            // max-width: 300px;
            margin: 10px;
            box-sizing: border-box;
            flex: 1;
        }
    }
}

@mixin lists-MQ-desktop(){

}