<footer class="excelsior-footer">
    <div class="excelsior-footer__content">
            <ul class="excelsior-footer__menu">
                <li class="excelsior-footer__menu-item">
                    <span class="excelsior-footer__menu-item-header">
                        Nosotros
                    </span>
                    <ul class="excelsior-footer__menu-subitem">
                        <li>
                            <a href="https://www.linkedin.com/company/accentiostudios/">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/AccentioStudios/">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/accentiostudios/">Instagram</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/AccentioStudios">Twitter</a>
                        </li>
                        <li>
                            <a href="./blog">Blog</a>
                        </li>
                    </ul>
                </li>
                <li class="excelsior-footer__menu-item">
                    <span class="excelsior-footer__menu-item-header">
                        Contactanos
                    </span>
                    <ul class="excelsior-footer__menu-subitem">
                        <li>
                            <a href="https://calendly.com/accentiostudios-alvaro/primer-contacto">Agenda una primera reunión</a>
                        </li>
                        <li>
                            <a href="mailto:hello@accentiostudios.com">Mándanos un email</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="excelsior-footer__brand">
                <div class="excelsior-footer__brand-logo">
                 <picture>
                    <img src="./media/img/1_logo_full_xl_web_header.svg" alt="Accentio Studios Logo">
                </picture>
                </div>
                <div class="excelsior-footer__brand-content">
                </div>
            </div>
    </div>
</footer>