<header class="excelsior-header">
    <div class="container excelsior-header__content">
        <div class="col-3 excelsior-header__brand">
            <a href="/"><img src="/img/brand_accentio.png" alt="brand_accentio" width="231.58" height="58.97"></a>  
        </div>
        <div class="flex-row-end col-9 excelsior-header__hero-section">
            <button class="excelsior-hero-button-xl">
                Inicia con nosotros
            </button>
            <a class="margin-left-md" href="/contact">Contacto</a>
        </div>
    </div>
</header>