<header class="excelsior-header">
    <div class="excelsior-header__content">
        <div id="hamb-btn-header">
            <i class="fas fa-bars"></i>
        </div>
        <div class="excelsior-header__brand">
            <div class="accentio-logo"></div>
        </div>
        <div id="menu-header-desktop" class="excelsior-header__menu">
            <nav>
                <ul>
                    <!-- <li><a href="/web-development">Web Develop</a></li> -->
                    <li><a href="/about">Quienes somos</a></li>
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="excelsior-header__hero-section">
            <a id="cta-header-desktop" href="https://calendly.com/accentiostudios-alvaro/briefing-proyecto-nuevo" class="excelsior-hero-button-xl">
                Inicia con nosotros
            </a>
        </div>
    </div>
</header>