<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Accentio Studios</title>
    <meta name="description" content="Accentio Studios es una compañia de desarrollo de software para humanos, facilitando el uso y completamente enfocados en la experiencia del usuario." />
    <link rel="canonical" href="https://accentiostudios.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Desarrollo de software, web y mobile diseñado para humanos." />
    <meta name="og:description" content="Accentio Studios es una compañia de desarrollo de software para humanos, facilitando el uso y completamente enfocados en la experiencia del usuario." />
    <meta property="og:url" content="https://accentiostudios.com/" />
    <meta property="og:site_name" content="Accentio Studios" />
    <%- include('../partials/head.partials.ejs'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header.partials.ejs'); %>
    </header>
    <h1><%= test %></h1>
    <h1>Hello world 2 fijo</h1>

    <footer>
        <%- include('../partials/footer.partials.ejs'); %>
    </footer>
</body>
</html>