<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Accentio Studios</title>
    <meta name="description" content="Accentio Studios es una compa침ia de desarrollo de software para humanos, facilitando el uso y completamente enfocados en la experiencia del usuario." />
    <link rel="canonical" href="https://accentiostudios.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Desarrollo de software, web y mobile dise침ado para humanos." />
    <meta name="og:description" content="Accentio Studios es una compa침ia de desarrollo de software para humanos, facilitando el uso y completamente enfocados en la experiencia del usuario." />
    <meta property="og:url" content="https://accentiostudios.com/" />
    <meta property="og:site_name" content="Accentio Studios" />
    <%- include('../partials/head.partials.ejs'); %>
</head>
<body class="excelsior-wrapper">
    <header>
        <%- include('../partials/header.partials.ejs'); %>
    </header>
    <section class="excelsior-hero__section">
        <div class="container excelsior-hero__headline">
            <h1>Eleve el nivel de su empresa y lleve a sus usu치rios las mejores experiencias de internet</h1>
        </div>
        <div class="excelsior-hero__gradientEdge">
            <img class="unselectable" src="/img/BackgroundDegradado.svg" alt="">
        </div>
        <div class="excelsior-hero__background">
            <div class="container height-inherit">
                <img class="hero-image unselectable" src="/img/LineArtHeroImage.svg" alt="">
            </div>
        </div>
    </section>
    <section class="container prod1">
        <div class="excelsior-menu-horizontal-xl">
            <nav>
                <ul>
                    <li><a href="">Plan Particular</a></li>
                    <li><a href="">Plan Empresas</a></li>
                </ul>
            </nav>
        </div>
        <div style="height: 600px;"></div>
    </section>


    <footer>
        <%- include('../partials/footer.partials.ejs'); %>
    </footer>
</body>
</html>