<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Accentio Studios</title>
    <meta name="description" content="Accentio Studios es una compañia de desarrollo de software para humanos, facilitando el uso y completamente enfocados en la experiencia del usuario." />
    <link rel="canonical" href="https://accentiostudios.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Desarrollo de software, web y mobile diseñado para humanos." />
    <meta name="og:description" content="Accentio Studios es una compañia de desarrollo de software para humanos, facilitando el uso y completamente enfocados en la experiencia del usuario." />
    <meta property="og:url" content="https://accentiostudios.com/" />
    <meta property="og:site_name" content="Accentio Studios" />
    <%- include('../partials/head.partials.ejs'); %>
</head>
<body class="excelsior-wrapper">
        <%- include('../partials/header.partials.ejs'); %>
    <section class="excelsior-hero__section">
        <div class="container excelsior-hero__headline">
            <h1>Eleve el nivel de su empresa y lleve a sus usuários las mejores experiencias de internet</h1>
            <div class="arrow-down"></div>
        </div>
        <div class="excelsior-hero__gradientEdge">
            <img class="unselectable" src="/img/BackgroundDegradado.svg" alt="">
        </div>
        <div class="excelsior-hero__background">
            <div class="container height-inherit">
                <img class="hero-image unselectable" src="/img/LineArtHeroImage.svg" alt="">
            </div>
        </div>
    </section>
    <section class="container menu1">
        <div class="excelsior-menu-horizontal-xl">
            <nav>
                <ul>
                    <li><a href="">Plan Particular</a></li>
                    <li><a href="">Plan Empresas</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="container prod1">
        <div class="col-group">
            <div class="col-5">
                <div id="card-cod-moon" class="excelsior-card padding-xl">
                    <img class="img-header" src="./img/Luna.png" alt="">
                    <h3>Plan para particulares</h3>
                    <h1>Codename: Moon</h1>
                    <div class="excelsior-divisor-line"></div>
                    <p>
                        Este plan es diseñado para quien esta comenzando, para particulares, empreendedores y pequenas empresas que quieren crear sus propias herramientas para la web.
                    </p>
                    <button class="excelsior-hero-button-md action-btn">Ver mas</button>
                </div>
            </div>
            <div class="col-7">
                <div class="codname-moon-info">
                    <div class="excelsior-divisor-line"></div>
                    <h1>Estamos aqui para 
                        <br>
                        ayudarte</h1>
                    <p>Ve mas alla y expande tus fronteras. Lleva tu proyecto al mar de la información y alcanza lugares que nunca antes habias visto. Crearemos junto a ti la nave perfecta para comenzar el despegue de tu crecimiento. Te ayudaremos a elevar tu proyecto de nivel, construyendo junto a ti pieza por pieza las soluciones mas excepcionales, de acuerdo a tus gustos y necesidades.</p>
                </div>
            </div>
        </div>
        <div class="col-group">
            
        </div>
    </section>


    <footer>
        <%- include('../partials/footer.partials.ejs'); %>
    </footer>
</body>
</html>