// Colors
$background-color: #161229;
$font-color: #fff;
$primary-color: #46C4E2;
$secondary-color: #F16750;

// Accentio Colors
$blue: #38557C;
$cyan: #46C4E2;
$orange: #F16750;
$red: #C04E37;
$white: #fff;
$black: #000;

// Text sizes fibonacci
$font-size: 16px;
$font-size-xxl: calc(4.23 * 1em);
$font-size-xl: calc(2.617 * 1em);
$font-size-lg: calc(1.618 * 1em);
$font-size-md: 1em;
$font-size-sm: calc(1em / 1.618);
$font-size-xs: calc(1em / 2.617);
$font-size-xxs: calc(1em / 4.23);
// Letter Spacing:
$letter-spacing: 0.01em;

@mixin h1() {
    font-size: $font-size-xl;
    line-height: 1.4em;
}
@mixin h2() {
    font-size: $font-size-lg;
    line-height: 1.4em;
}
@mixin h3() {
    font-size: $font-size-md;
    line-height: 1.4em;
}
@mixin h4() {
    font-size: $font-size-sm;
    line-height: 1.4em;
}


// Animation
$transition-0-2s: all 0.2s cubic-bezier(1, 0, 0, 1);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Space+Grotesk:wght@400;600;700&display=swap');
$fontSpace: 'Space Grotesk', sans-serif;
$fontFamily: 'Lato', sans-serif;
