// Colors
$background-color: #0E0B1E;
$font-color: #fff;
$primary-color-real: #3BAAE2;
$primary-color: #3BAAE2;
$secondary-color: #D81927;

// Accentio Colors
$blue: #38557C;
$cyan: #3BAAE2;
$red: #D81927;
$green: #45D6CE;
$grey: #C6C0FC;
$white: #fff;
$black: #000;

// Responsive
$max-container-width: 1400px;
$viewport-padding: 6vw;

$screenTablet: 	768px;
$screenDesktop: 900px;
$screenLarge:   1060px;

// Text sizes fibonacci
$font-size: 1em;
$font-size-xxl: calc(4.23 * 1rem);
$font-size-xl: calc(2.617 * 1rem);
$font-size-lg: calc(1.618 * 1rem);
$font-size-md: 1rem;
$font-size-sm: calc(1rem / 1.618);
$font-size-xs: calc(1rem / 2.617);
$font-size-xxs: calc(1rem / 4.23);
// Letter Spacing:
$letter-spacing: 0.01rem;

@mixin h1() {
    font-size: $font-size-xl;
    line-height: 3.8rem;
}
@mixin h2() {
    font-size: $font-size-lg;
    line-height: 2.8rem;
}
@mixin h3() {
    font-size: $font-size-md;
    line-height: 1.5rem;
}
@mixin h4() {
    font-size: $font-size-sm;
    line-height: 1.5rem;
}


// Animation
$transition-0-2s: all 0.2s cubic-bezier(1, 0, 0, 1);

// Fonts
$fontSpace: 'Montserrat', sans-serif;
$fontFamily: 'Source Sans Pro', sans-serif;
