// Colors
$darkBlue: #161229;
$blue: #38557C;
$cyan: #46C4E2;
$orange: #F16750;
$red: #C04E37;
$white: #fff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Space+Grotesk:wght@300;400;500;700&display=swap');
$fontSpace: 'Space Grotesk', sans-serif;
$fontFamily: 'Lato', sans-serif;
