// Variables
@import './_variables.scss';

// Grid System by Fluidable
@import './libs/fluidable.scss';

body {
    font-size: $font-size;
    font-family: $fontFamily;
    color: $font-color;
    background-color: $background-color;
}
a {
    color: $font-color;
}

h1 {
    @include h1;
}
h2 {
    @include h2;
}
h3 {
    @include h3;
}
h4 {
    @include h4;
}
h1, h2, h3, h4 {
    color: $font-color;
    font-family: $fontSpace;
}

p {
    line-height: 2.2em;
}

.text-xxl{
    font-size: $font-size-xxl;
}
.text-xl{
    font-size: $font-size-xl;
}
.text-lg{
    font-size: $font-size-lg;
}
.text-md{
    font-size: $font-size;
}
.text-sm{
    font-size: $font-size-sm;
}
.text-xs{
    font-size: $font-size-xs;
}
.text-xxs{
    font-size: $font-size-xxs;
}

.text-strong, .text-700 {
    font-weight: 700;
}

.font-primary {
    font-family: $fontFamily!important;
}
.font-secondary {
    font-family: $fontSpace!important;
}

.primary-color {
    background-color: $primary-color;
}
.secondary-color {
    background-color: $secondary-color;
}

.margin {
    &-top{
        &-md{
            margin-top: 40px!important;
        }
        &-xl{
            margin-top: 90px!important;
        }
    }
    &-left{
        &-md {
            margin-left: 40px!important; 
        }
        &-xl{
            margin-left: 90px!important;
        }
    }
    &-right{
        &-md {
            margin-right: 40px!important; 
        }
        &-xl{
            margin-right: 90px!important;
        }
    }
}

.flex-row-center, .flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row-center {
    flex-direction: row;
}
.flex-col-center {
    flex-direction: column;
}

.excelsior {
    &-wrapper {
        width: 100%;
        overflow-x: hidden;
        min-height: 100vh;
        padding: 0px;
        margin: 0px;
        position: relative;
    }
    &-divisor-line {
        height: 2px;
        background-color: $primary-color;
        min-width: 40px;
        &.secondary-color {
            background-color: $secondary-color!important;
        }
    }
    // Components
    @import './components/header.scss';
    @import './components/buttons.scss';
    @import './components/hero.scss';
    @import './components/menus.scss';
    @import './components/card.scss';
    @import './components/lists.scss';
}

